above==2.8
adblockparser==0.7
aesedb==0.1.3
aiocmd==0.1.2
aioconsole==0.8.1
aiodns==3.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiomultiprocess==0.9.0
aiosignal==1.3.2
aiosmb==0.4.4
aiosqlite==0.21.0
aiowinreg==0.0.7
alembic==1.15.2
androguard==4.1.3
aniso8601==10.0.0
annotated-types==0.7.0
anyio==4.8.0
apkInspector==1.3.2
arc4==0.3.0
argcomplete==3.5.3
arrow==1.3.0
asciitree==0.3.3
asgiref==3.8.1
asn1crypto==1.5.1
asn1tools==0.166.0
asttokens==3.0.0
asyauth==0.0.20
async-timeout==5.0.1
asysocks==0.2.12
attrs==25.1.0
autocommand==2.2.2
Automat==24.8.1
babel==2.17.0
backoff==2.2.1
banal==1.0.6
bcc==0.31.0
bcrypt==4.2.0
beautifulsoup4==4.13.3
bitstruct==8.20.0
blinker==1.9.0
Bottleneck==1.4.2
Brlapi==0.8.6
Brotli==1.1.0
censys==2.2.16
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
cheroot==10.0.1+ds1
CherryPy==18.10.0
cherrypy-cors==1.6
click==8.1.8
click-plugins==1.1.1
colorama==0.4.6
constantly==23.10.4
contourpy==1.3.1
crackmapexec==5.4.0
crowbar==4.1
cryptography==43.0.0
cssselect==1.3.0
cupshelpers==1.0
cycler==0.12.1
dataset==1.6.2
dbus-python==1.4.0
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dicttoxml==1.7.16
distro==1.9.0
dnspython==2.7.0
dsinternals==1.2.4
email_validator==2.2.0
et_xmlfile==2.0.0
executing==2.2.0
ExifRead==3.0.0
fake-useragent==2.1.0
fastapi==0.115.11
fastjsonschema==2.21.1
fierce==1.6.0
filelock==3.17.0
flasgger==0.9.7.2.dev2
Flask==3.1.0
Flask-RESTful==0.3.10
fonttools==4.55.3
fqdn==1.5.1
frida==16.7.3
frozenlist==1.5.0
fs==2.4.16
future==1.0.0
GDAL==3.10.2
googlesearch-python==1.3.0
greenlet==3.1.0
gssapi==1.9.0
gyp-next==0.16.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib-modern==1.2
httpagentparser==1.9.1
httpcore==1.0.7
httpx==0.25.1
hyperframe==6.0.0
hyperlink==21.0.0
idapro @ file:///home/omgsm/ida-pro-9.0/idalib/python
idna==3.10
impacket==0.12.0
incremental==24.7.2
inflect==7.3.1
invoke==2.2.0
ipwhois==1.2.0
ipython==8.30.0
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.1
Jinja2==3.1.5
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
kali-tweaks==2023.3.2
kiwisolver==1.4.7
ldap3==2.9.1
ldapdomaindump==0.9.4
legacy-cgi==2.6.2
limits==4.4.1
loguru==0.7.3
looseversion==1.3.0
louis==3.33.0
lsassy==3.1.11
lxml==5.3.1
lz4==4.4.0+dfsg
Mako==1.3.8.dev0
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==2.1.5
masky==0.2.0
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mechanize==0.4.10
meson==1.7.0
minidump==0.0.21
minikerberos==0.4.4
mistune==3.0.2
mitm6==0.3.0
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.0.3
msldap==0.5.10
multidict==6.1.0
mutagen==1.47.0
mutf8==1.0.6
nassl==5.3.0
nbformat==5.9.1
neo4j==5.2.dev0
neobolt==1.7.17
neotime==1.7.4
netaddr==0.10.1
netifaces==0.11.0
networkx==3.2.1
numexpr==2.10.2
numpy==1.26.4
odfpy==1.4.2
olefile==0.47
openpyxl==3.1.5
oscrypto==1.3.0
outcome==1.2.0
OWSLib==0.33.0
packaging==24.2
pandas==2.2.3+dfsg
paramiko==3.5.1
parso==0.8.4
pcapy==0.11.5.dev0
pexpect==4.9.0
phonenumbers==8.12.57
pillow==11.1.0
platformdirs==4.3.7
playwright==0.0.0
plotly==5.20.0
plumbum==1.9.0
pooch==1.8.2
portend==3.2.0
prettytable==3.15.1
prompt_toolkit==3.0.50
psycopg2==2.9.10
ptyprocess==0.7.0
publicsuffixlist==0.9.3
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyasyncore==1.0.2
pycairo==1.26.1
pycares==4.4.0
pycryptodomex==3.20.0
pycups==2.0.4
pydantic==2.10.6
pydantic_core==2.27.2
pydot==2.0.0
pyee==11.1.0
pygexf==0.2.2
Pygments==2.18.0
PyGObject==3.50.0
pygraphviz==1.14
PyHamcrest==2.1.0
pyinotify==0.9.6
pylnk3==0.4.2
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyparsing==3.1.2
pypdf==4.3.1
pyperclip==1.8.2
pyproj==3.7.1
pypsrp==0.8.1
pypykatz==0.6.10
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pysmbc==1.0.25.1
PySocks==1.7.1
pyspnego==0.10.2
pystyle==2.9
python-apt==2.9.9+b1
python-dateutil==2.9.0
python-debian==1.0.1
python-docx==1.1.2
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.20
python-nmap==0.7.1
python-pptx==0.6.18
python-vlc==3.0.21203
python-whois==0.7.3
pytz==2025.1
pywerview==0.3.3
pyxdg==0.28
PyYAML==6.0.2
qcsuper==2.0.1
QScintilla==2.14.1
redis==4.3.4
referencing==0.35.1
repoze.lru==0.7
requests==2.32.3
requests-file==2.1.0
requests-futures==1.0.2
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.9.4
Routes==2.5.1
rpds-py==0.21.0
rpyc==6.0.1
rq==1.16.2
scapy==2.6.1
scipy==1.14.1
sdkmanager==0.6.11
secure==0.3.0
selenium==4.24.0
service-identity==24.2.0
setuptools==75.8.0
sherlock-project==0
shodan==1.31.0
simplejson==3.19.3
six==1.17.0
slowapi==0.1.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==1.4.54
sslyze==6.1.0
stack-data==0.6.3
starlette==0.46.1
stem==1.8.2
Sublist3r==1.0
suricata-update==1.3.4
sympy==1.13.3
tables==3.10.2
tabulate==0.9.0
tempora==5.7.0
tenacity==8.4.2+really8.4.1
termcolor==2.4.0
terminaltables==3.1.10
theHarvester==4.7.0
tldextract==5.1.2
tls-parser==1.2.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
Twisted==24.11.0
typeguard==4.4.2
types-aiofiles==24.1
types-antlr4-python3-runtime==4.13
types-assertpy==1.1
types-atheris==2.3
types-aws-xray-sdk==2.14
types-beautifulsoup4==4.12
types-bleach==6.2
types-boltons==24.1
types-braintree==4.31
types-cachetools==5.5
types-caldav==1.3
types-capturer==3.0
types-cffi==1.16
types-chevron==0.14
types-click-default-group==1.2
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-console-menu==0.8
types-corus==0.10
types-croniter==5.0.1
types-dateparser==1.2
types-decorator==5.1
types-defusedxml==0.7
types-Deprecated==1.2.15
types-docker==7.1
types-dockerfile-parse==2.0
types-docutils==0.21
types-editdistance==0.8
types-entrypoints==0.4
types-ExifRead==3.0
types-fanstatic==1.4
types-first==2.0
types-flake8==7.1
types-flake8-bugbear==24.12.12
types-flake8-builtins==2.5
types-flake8-docstrings==1.7
types-flake8-rst-docstrings==0.3
types-flake8-simplify==0.21
types-flake8-typing-imports==1.16
types-Flask-Cors==5.0
types-Flask-Migrate==4.0
types-Flask-SocketIO==5.4
types-fpdf2==2.8.2
types-gdb==15.0
types-gevent==24.11
types-google-cloud-ndb==2.3
types-greenlet==3.1
types-hdbcli==2.23
types-html5lib==1.1
types-httplib2==0.22
types-humanfriendly==10.0
types-hvac==2.3
types-ibm-db==3.2.4
types-icalendar==6.1
types-influxdb-client==1.45
types-inifile==0.4
types-JACK-Client==0.5
types-Jetson.GPIO==2.1
types-jmespath==1.0
types-jsonschema==4.23
types-jwcrypto==1.5
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.23
types-lupa==2.2
types-lzstring==1.0
types-m3u8==6.0
types-Markdown==3.7
types-mock==5.1
types-mypy-extensions==1.0
types-mysqlclient==2.2
types-nanoid==2.0.0
types-netaddr==1.3
types-netifaces==0.11
types-networkx==3.4.2
types-oauthlib==3.2
types-objgraph==3.6
types-olefile==0.47
types-openpyxl==3.1.5
types-opentracing==2.4
types-paramiko==3.5
types-parsimonious==0.10
types-passlib==1.7
types-passpy==1.0
types-peewee==3.17.8
types-pep8-naming==0.14
types-pexpect==4.9
types-pika-ts==1.3
types-polib==1.2
types-portpicker==1.6
types-protobuf==5.29.1
types-psutil==6.1
types-psycopg2==2.9.10
types-pyasn1==0.6
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.4
types-pyfarmhash==0.4
types-pyflakes==3.2
types-pygit2==1.15
types-Pygments==2.18
types-pyinstaller==6.11
types-pyjks==20.0
types-PyMySQL==1.1
types-pynput==1.7.7
types-pyOpenSSL==24.1
types-pyRFC3339==2.0.1
types-PyScreeze==1.0.1
types-pyserial==3.5
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-crontab==3.2
types-python-datemath==3.0.1
types-python-dateutil==2.9
types-python-http-client==3.3.7
types-python-jenkins==1.8
types-python-jose==3.3
types-python-nmap==0.7
types-python-xlib==0.33
types-pytz==2024.2
types-pywin32==308
types-pyxdg==0.28
types-PyYAML==6.0
types-qrbill==1.1
types-qrcode==8.0
types-regex==2024.11.6
types-reportlab==4.2.5
types-requests==2.32
types-requests-oauthlib==2.0
types-retry==0.9
types-RPi.GPIO==0.7
types-s2clientprotocol==5
types-seaborn==0.13.2
types-Send2Trash==1.8
types-setuptools==75.6
types-shapely==2.0
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.17
types-slumber==0.7
types-str2bool==1.1
types-tabulate==0.9
types-tensorflow==2.18.0
types-TgCrypto==1.2
types-toml==0.10
types-toposort==1.10
types-tqdm==4.67
types-translationstring==1.4
types-tree-sitter-languages==1.10
types-ttkthemes==3.2
types-ujson==5.10
types-unidiff==0.7
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9.9
types-waitress==3.0.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.2.1
types-wurlitzer==3.1
types-xdgenvpy==3.0
types-xmltodict==0.14
types-zstd==1.5
types-zxcvbn==4.4
typing_extensions==4.12.2
ufoLib2==0.17.0
ufw==0.36.2
ujson==5.10.0
unicodedata2==15.1.0
unicrypto==0.0.10
uqload_dl @ file:///home/omgsm/uqload-downloader-python
uritemplate==4.1.1
urllib3==2.3.0
useragent==0.1.1
uvicorn==0.32.0
uvloop==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.9
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
wheel==0.45.1
winacl==0.1.9
wrapt==1.15.0
wsproto==1.2.0
xdg==5
XlsxWriter==3.1.9
xmltodict==0.13.0
yarl==1.13.1
yt-dlp==2025.3.21
zc.lockfile==3.0.post1
zipp==3.21.0
zombie-imp==0.0.2
zope.interface==7.2
